body{
    background:-webkit-linear-gradient(rgb(212, 192, 173),white);
    font-family: 'Itim', cursive;
}

header{
    position:fixed;
    background-color:rgb(150, 99, 51);
    border-radius:10px;
    font-family: 'Grandstander', cursive;
    font-size:20px;
    width:98%
}

.icon{
    width:150px;
    height:84px;

}


nav{
    position:fixed;
    top:100px;
    background-color:rgb(150, 99, 51);
    border-style:outset;
    border-radius:10px;
    width:98%
 
}

ul{
    list-style:none;
}

li{
    display: inline;
}


main img{
    width:80px;
    height:70px;
}

a{text-decoration:none;}

a:link{
    color:rgba(255, 255, 255, 0.808);
}

a:hover{
    color:rgba(255, 245, 236, 0.808);
    background-color:rgb(172, 145, 121);
}

a:visited{
    color:rgba(255, 255, 255, 0.808)
}


#index nav .index>a{
    pointer-events:none;
    cursor:default;
}


.left{
    font-style:bold;
    float:left;
    width:80px;
}

.up{
    font-style:bold;
    width:100px;
}

.short{
    width:27px;
    margin:3px;
}

.mid{
    width:60px;
}

.hide{
    display:none;
}

.sel{
    background-color: rgb(141, 104, 69);
}


#t {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}



#t td{
    width:80px;
    border: 1px solid;
}

#longtd {
    width:240px;
    border: 1px solid;
    text-align: left;
}

font{
    color: red;
    font-weight: bold;
}



